<h1>All users</h1>

<% @users.each do |user| %>
  <%= link_to user.name, user %><br>
  <%= image_tag("user_#{user.id}.jpg", width:300, height:250)  %><br>
<% end %>

<%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
