<h1>All users</h1>

<% @users.each do |user| %>
  <div class ="user" >
    <h4><%= link_to user.name, user_profiles_path %><br><h4>
    <%= image_tag("user_#{user.id}.jpg", width:300, height:250)  %><br>
  </div>
<% end %>

<div class="logout">
  <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
</div>

<div class="mypage">
  <%= link_to 'ユーザ設定', edit_user_registration_path %>
</div>
