<p id="notice"><%= notice %></p>

<h1>User Profiles</h1>
  <tbody>
    <%# 画像idとユーザidが紐付いてないのでなんとかする  %>
    <% @user_profiles.each do |user_profile| %>
      <div class ="profile">
        <%= link_to "#{user_profile.name}", user_profile %><br>
        <%= image_tag @comment[user_profile.id - 1].image.variant(resize: "300x300") %>
      </div>
    <% end %>
  </tbody>
</table>

<div class="logout">
  <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
</div>

